@charset "UTF-8";
body {
    font: 100%;
}
/* KinokoNetWorkのLicenceが通用します。*/
h1 {
    font-family: "Verdana", sans-serif;
    line-height: 1.7;
    color: #432;
}

html { scroll-behavior: smooth;}

h1.tokutyo {
  color: #6594e0;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #6594e0;
}

h2.niku {
    font-family: "Nikukyu", sans-serif;
    color: skyblue;
    text-shadow: rgb(47, 255, 130);
}

.fuchidori {
  color: orange;
  font-family: "Nikukyu";
  -webkit-text-stroke: 1px orange;
  text-stroke: 1px #FFF;
}

p.tanosi {
    color: yellow;
font-size: 26px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* header 
-----*/
.logo {
    width: 60px;
    margin-top: 14px;
}

* {
  margin:0; padding:0;
}
header.a {
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: #337079;
  color: white;
}
header.a .headline{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}

h1.daimei {
    margin-left: 10px;
    margin-bottom: 10px;
}

/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
li {
    list-style: none;
}

ul {
    padding-left:0;
}
.brand {
  font-weight: bold;
  font-size: 20px; }

.site-header {
  position: relative;
  background-color: #def7ff; }

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 660px) {
    .site-header__wrapper {
      padding-top: 0;
      padding-bottom: 0; } }
@media (max-width: 659px) {
  .site-header__end {
    padding-right: 4rem; } }

@media (min-width: 660px) {
  .nav__wrapper {
    display: flex; } }

@media (max-width: 659px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }

.nav__item a {
  display: block;
  padding: 1.5rem 1rem;
  outline: none; }

.nav__toggle {
  display: none; }
  @media (max-width: 659px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }

/* oomisoka_member 
-----*/
.oomisoka {
    width: 360px;
    height: 160px;
    margin-top: 24px;
}

.discord-cont {
    width: 260px;
    height: 360px;
    margin-top: 24px;
}

.twitter-timeline {
    width: 160px;
    height: 160px;
    margin-top: 328px;
    margin-left: 10px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

.btn-flat-border-discord {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #9267ff;
  border: solid 2px #9267ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-discord:hover {
  background: #6779ff;
  color: white;
}

/* discord */
.text:has(.deco-\>:is(.deco-\~,.deco-\',.deco-\!,.deco-\#,.deco-\%,.deco-\&)) { padding-bottom: 5px; }
.deco-\>:is(.deco-\~,.deco-\',.deco-\!,.deco-\#,.deco-\%,.deco-\&) {
	padding: 7px 16px;
	border-radius: 3px;
	color: white;
   margin: 0 2px;
}
.line:not(.cursor-line) .deco-\>:is(.deco-\~,.deco-\',.deco-\!,.deco-\#,.deco-\%,.deco-\&) { cursor: pointer; }
	
.deco-\>.deco-\~ { background: hsl(235, 85.6%, 64.7%); }
.line:not(.cursor-line) .deco-\>.deco-\~:hover { background: hsl(235, 51.4%, 52.4%); }

.deco-\>.deco-\' { background: hsl(217, 7.6%, 33.5%); }
.line:not(.cursor-line) .deco-\>.deco-\':hover { background: hsl(213, 5%, 42.9%); }

.deco-\>.deco-\! { background: hsl(359, 82.6%, 59.4%); }
.line:not(.cursor-line) .deco-\>.deco-\!:hover { background: hsl(359, 56.3%, 40.4%) }

.deco-\>.deco-\# { background: hsl(139, 47.1%, 33.3%) }
.line:not(.cursor-line) .deco-\>.deco-\#:hover { background: hsl(138, 46.8%, 24.3%); }

.deco-\>.deco-\% {
	border: solid 1px hsl(359, 82.6%, 59.4%);
	padding: 6px 16px;
}
.line:not(.cursor-line) .deco-\>.deco-\%:hover { background: hsl(359, 66.7%, 54.1%); }

.deco-\>.deco-\& {
	border: solid 1px hsl(235, 85.6%, 64.7%);
	padding: 6px 16px;
}
.line:not(.cursor-line) .deco-\>.deco-\&:hover { background: hsl(235, 85.6%, 64.7%); }
/* discord end */

.head {
    width: 80px;
    height: 80px;
    margin-top: 14px;
}


.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    background-size: 30px;
    /* 丸みを帯びさせる */
    border-radius: 10px;
    outline: none;

}
.main-nav li {
    margin-left: 30px;
    outline: none;
}
.main-nav a {
    color: rgb(205, 39, 67);
    outline: none;
}
.main-nav a:hover {
    color: rgb(25, 125, 25);
    outline: none;
}

.menu {
  margin: 10;
	list-style-type: none;
    outline: none;
}
.menu > li {
  margin: 10;
	position:relative;
    outline: none;
}
.menu > li > ul {
  margin: 10;

	display:none;
    outline: none;
}
.menu > li:hover ul {
	display:block;
	position:absolute;
	padding:0;
	margin:0;
	top:2.5em;
	left:0;
	list-style-type:none;
	border:1px solid rgb(221, 95, 95);
    outline: none;
  background-color: #4bffb1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    outline: none;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    outline: none;
}

/* home
*/

.home-content {
    text-align: center;
    margin-top: 10%;
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* 見出し */
.page-title {
    font-size: 4.8rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}

h1.tokutyo {
  color: #6594e0;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #6594e0;
}

/* 影でサーバー説明
===================== */
/*== 影が拡がって浮き上がる */

/*ボタンの形状*/
.float2{
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding:10px 20px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverをしたらボックスの影が拡がり色が濃くなる*/
.float2:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1) ;
    border-color: transparent;
}

/* server contents */
h2.sugo {
    margin: 0 auto;
}
/* 数でごりおし */
.btn101 {
	padding: 20px 30px;
	display: inline-block;
	color: #333;
	text-decoration :none;
	text-align: center;
	background: #ffbf4b;
	transition: .4s;
	
	/*--影の複数指定--*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
   
  -webkit-tap-highlight-color: transparent;
  transition: .2s ease-out;
}

.btn101:hover {

	transform: translateY(-4px);

	/*--影の複数指定--*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 7px -2px rgba(0, 0, 0, 0.2);
}

.btn102 {
	padding: 20px 30px;
	display: inline-block;
	color: #333;
	text-decoration :none;
	text-align: center;
	background: #4bffb1;
	transition: .4s;
	
	/*--影の複数指定--*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
   
  -webkit-tap-highlight-color: transparent;
  transition: .2s ease-out;
}

.btn102:hover {

	transform: translateY(-4px);

	/*--影の複数指定--*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 7px -2px rgba(0, 0, 0, 0.2);
}

.btn103 {
	padding: 20px 30px;
	display: inline-block;
	color: #333;
	text-decoration :none;
	text-align: center;
	background: #4bbaff;
	transition: .4s;
	
	/*--影の複数指定--*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
   
  -webkit-tap-highlight-color: transparent;
  transition: .2s ease-out;
}

.btn103:hover {

	transform: translateY(-4px);

	/*--影の複数指定--*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 7px -2px rgba(0, 0, 0, 0.2);
}
/* ごりおしタイムここまで */
.cssBtn5{
	color:#FFF;
	background-color: #576F9C;
	box-shadow:
	0 3px 0 #3d5073,
	0 6px 4px -5px rgba(0, 0, 0, 0.2),
	0 5px 5px 0 rgba(0, 0, 0, 0.14),
	0 4px 8px 0 rgba(0,0,0,.12);
	position: relative;
}
.cssBtn5:hover{
	box-shadow:
	0 3px 0 #3d5073,
	0 4px 6px -3px rgba(0, 0, 0, 0.2),
	0 6px 7px 0 rgba(0, 0, 0, 0.14),
	0 3px 12px 0 rgba(0,0,0,.12);
}
.cssBtn5:active {
	top: 3px;
	box-shadow: none;
}

/* 大きな背景画像 /#big-bg*/
.big-bg {
    background-size: cover;
    background-position: center top;
}

#home {
    background-image: url(../image/site-background-image3.png);
    min-height: 100vh;
}

#home .page-title {
    text-transform: none;
}


/* ぼかし */
.blur{
  -ms-filter: blur(6px);
  filter: blur(6px);
}

/* ふきだし運営メンバー  */
.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #e0edff;
}

.balloon1-top p {
  margin: 0;
  padding: 0;
}

.box18{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 5px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.box18:after {
    top:-12px;
    left:-12px;
}
.box18:before {
    bottom:-12px;
    right:-12px;
}
.box18 p {
    margin: 0; 
    padding: 0;
}

/* コピーボタン */
.copy_btn {
  width:80%!important;
  padding: 12px 0;
  margin-left: auto!important;
  margin-right: auto!important;
  color:#ffffff;
  font-weight:bold;
  background:skyblue;
  border: solid 2px green;
  border-radius: 3px;
  transition: .4s;
  text-align: center;
}
 
.copy_btn:hover {
  background: bisque;
  color: rgb(229, 188, 188);
}
.copy_btn:hover {
	cursor: pointer;
}
/* 初参加の人へ
------------------------------- */
h2.join-1 {
    margin-top: 20px;
}

h3.join-1 {
    margin-top: 10px;
}

p.join-2 {
    margin-top: 10px;
}
/* Rule 
------------------------------- */
h2.hr1 {
    line-height: 4.0;
    color: black;
}
h3.hr3 {
    line-height: 2.0;
}
p.r1 {
    line-height: 2.0;
}

p.r2 {
    line-height: 1.0;
}

p.r12 {
    line-height: 2.0;
}

h2.jou {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  margin-bottom: 10px;
}


/* Server about
------------------------------- */
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  /* background-color: #d4f0fd; */
  background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

table td.icon.bird{
  background-image: url(image/favicon.png)
}

table td.icon.whale{
  background-image: url(icon-whale.png)
}

table td.icon.crab{
  background-image: url(icon-crab.png)
}

/* ----------
 profilename 
----------*/
h1.profilename {
  background: #b0dcfa; /*背景色*/
  padding: 0.5em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
  margin-right: 700px;
}

#profile {
    background-image: url(../image/utumuki_kinoko.png);
    height: 380px;
    margin-bottom: 40px;
}
#profile .page-title {
    text-align: center;
}

.profiled{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    border-radius: 0.5em;/*角の丸み*/
}
.profiled p {
    margin: 0; 
    padding: 0;
}

.btn-social-square {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  margin:2px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  color:white;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;
}
.btn-social-square i {
  line-height:50px;
}
.btn-social-square:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.btn-social-square--twitter {
  background: #22b8ff;
}
.btn-social-square--facebook {
  background: #6680d8;
}
.btn-social-square--hatebu {
  background: #49a8fb;
}
.btn-social-square--pocket {
  background: #ff6d82;
}
.btn-social-square--feedly {
  background: #7bda72;
}
/* botan */
.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #51d6a9 0%, #51d6a9 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #07b9ff 0%, #07b9ff 100%);
}
/* profileはここまで */

/* admin
------------------------------- */
h1.am {
    font-size: 40px;
    margin-top: -20px;
}
h2.userad {
  background: #fffadf;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px white;
  padding: 0.2em 0.5em;
  color: crimson;
  margin-top: 20px;
}

h2.userad2 {
  background: #dfffdf;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px white;
  padding: 0.2em 0.5em;
  color: rgb(20, 213, 220);
  margin-top: 20px;
}

h2.userad3 {
  background: #dff5ff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px white;
  padding: 0.2em 0.5em;
  color: rgb(197, 20, 220);
  margin-top: 20px;
}

h2.userad4 {
  background: #fff3df;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px white;
  padding: 0.2em 0.5em;
  color: rgb(53, 220, 20);
  margin-top: 20px;
}

h2.page-title {
    color:orange;
}

    table.sigoto {
        border-collapse: collapse;  /* セルの線を重ねる */
    }
     
    th.sigoto ,td.sigoto {
        padding: 5px 10px;          /* 余白指定 */
    }
     
    th.sigoto {
        background-color: #2196F3;  /* 背景色指定 */
        color:  #fff;               /* 文字色指定 */
        font-weight:  normal;       /* 文字の太さ指定 */
        position:  relative;        /* 位置指定 */
        z-index: 10;                /* 重なり調整 */
    }
     
    td.sigoto {
        background-color:  #c0c9ff; /* 背景色指定 */
        padding-left: 25px;         /* 余白指定 */
    }
     
    th.sigoto::after {
        content:'';                 /* 空の要素を作る */
        position:  absolute;        /* 位置指定 */
        height: 24px;               /* 高さ指定 */
        width: 24px;                /* 幅指定 */
        background-color: #2196F3;  /* 背景色指定 */
        transform:  rotate(45deg);  /* 要素を回転 */
        top: 5px;                   /* 位置指定 */
        right: -12px;               /* 位置指定 */
        z-index:  -1;               /* 重なり調整 */
    }
     
    tr.sigoto {
        border-bottom:  solid #fff; /* 線指定 */
    }
/* admin ここまで */
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}

p.r11 {
    line-height: 3.0;
}

img.adm1 {
    width: 160px;
    height: 160px;
    margin-top: 20px;
}

img.adm2 {
    width: 160px;
    height: 160px;
    margin-top: 10px;
}

br.br12 {
    line-height: -160;
    height: -150;
    padding: -150px 0;
}

p.r3 {
    line-height: 1.5;
}
/* NEWS
------------------------------- */
#news {
    background-image: url(../image/news-bg.jpeg);
    height: 380px;
    margin-bottom: 40px;
}
#news .page-title {
    text-align: center;
}

#home .page-title {
    text-align: center;
}


/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: rgb(188, 117, 117);
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
  margin-top: 5px;
}
.about {
  /*真ん中の要素*/
  padding: 10px;
  margin: 10px;
}
.about2 {
  /*真ん中の要素*/
  padding: 10px;
  margin: 10px;
}
/* フッター
------------------------------- */
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}
footer p.mojang {
    color: #fff;
    font-size: 0.875rem;
}
footer li.mojang {
    color: #fff;
    font-size: 0.875rem;
    margin-left: 10px;
}

/* メインエリア */
article {
    width: 74%;
}

/* サイドバー */
aside {
    width: 22%;
}

.home-content {
    display: frex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.about-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

.admin-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

.playstatus {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* 💬 */
.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 100%;
  height: auto;
 /* border: solid 3px #d7ebfe;
  border-radius: 50%; */
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}

p.name-top {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

h1.play {
    color: #0bd;
    height:60px;
    display: grid;
    place-items: center;
}

h1.play1 {
    color: #0bd;
    height:60px;
    display: grid;
    place-items: center;
    margin-top: auto;
    margin-bottom: -20px;
}

.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    margin-left: 80px;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}

.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

.adminlist-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.post-date {
    background: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.post-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat {
    margin-left: 120px;
}

article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

aside p {
    padding: 12px 10px;
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li {
    border-bottom: 1px #ddd solid;
}
.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover {
    color: #0bd;
}

@media (max-width: 600px) {
    h1 {
        color: #0bd;
    }
}

@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* HEADER */
    .main-nav {
        margin: 10px;
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    /* NEWS */
    .news-contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }

/* ↓ この部分追加 ↓ */
    #news .page-title {
        margin-top: 30px;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }
/* ↑ ここまで追加 ↑ */

}

/* 343 */





