<Files ~ "^\.(htaccess|htpasswd)$">
    deny from all
    </Files>
    Options -Indexes
    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^(www\.kinoko\.ddns\.net/boooom)(:80)? [NC]
    RewriteRule ^(.*) http://kinoko.ddns.net/boooom/$1 [R=301,L]
    DirectoryIndex index.html       
    order deny,allow
    ErrorDocument 404 http://kinoko.ddns.net/boooom
    