<Files ~ "^\.(htaccess|htpasswd)$">
    deny from all
    </Files>
    Options -Indexes
    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^(www\.kinoko\.ddns\.net/admin)(:80)? [NC]
    RewriteRule ^(.*) http://kinoko.ddns.net/admin/$1 [R=301,L]
    DirectoryIndex admin.html       
    order deny,allow
    